# Ignore build files and directories
/build
/bin
/obj
*.o
*.a
*.so
*.out

# Ignore compiled binary executables
array_modifier_app

# Ignore editor and IDE-specific files
.vscode/
.idea/
*.swp

# Ignore system files
.DS_Store
Thumbs.db

